body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}


#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: #F1D1B5;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main {
    background: #305F72;
    color: white;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #F0B7A4;
    border-radius: 7px 7px;
}

.chat:hover {
    background-color: #F18c8E;
}

.chat .username {
    font-weight: 800;
    color: rgb(179, 63, 65);
}

.chat .username:hover {
    cursor: pointer;
    color: #305F72;
}
.chat .text {
    color: rgb(67, 68, 70);
}

.roomname {
    display: none;
}

/* FRIEND */

.friend {
    background-color: #F18c8E;
}

.friend .text{
    color: rgb(250, 224, 223);
}

.friend .username {
    color: #305F72;
}

.friend:hover {
    background-color: rgb(235, 165, 162);
}

/* SPINNER */

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}